<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            *{
                margin: 0%;
                padding: 0cap;
            }
            body{
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .c{
              background-image:linear-gradient(to bottom,rgb(74, 10, 59),rgb(255, 0, 132));
              margin:150px;
              padding:100px 50px 50px 100px;
              border:3px solid black;
              width:600px;
              height:100vh;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .b{
                margin:50px;
            }
            .a{
              padding:35px;
              background-color:white;
              border-radius:5px;
              width:400px;
              height:550px
            }
            h1{
                font-size:40px;
                margin-left:14;
                color: rgb(13, 14, 13);
            }
            p{
                padding-left:155px;
                font-size:25px;
            }
            input[type=text]{
                height:40px;
                margin:30px;
                width:300px;
                border:5px solid white;
                border-radius:5px;
                box-shadow:3px 3px rgb(138, 132, 132);
            }
            #toCurrency,#fromCurrency{
                margin:30px;
                height:40px;
                width:300px;
                border:5px solid white;
                border-radius:5px;
                box-shadow:3px 3px rgb(122, 121, 121);
            }
            #result{
                height:80px;
                border-radius:5px;
                border:5px solid rgb(199, 196, 196);
                box-shadow:3px 3px rgb(138, 132, 132);
            }
            .button{
                background-color:rgb(73, 235, 73);
                margin:15px 15px 15px 15px;
                border-radius:4px;
                width:340px;
                height:40px;
                font-size:30px;
                box-shadow:3px 3px rgb(122, 121, 121);
            }
        </style>
    </head>
    <div class="c">
        <form action="/signinsubmit" method="post">
    <dic class="b">
        <h1>Currency Converter & Exchange Rates</h1>
        <br>
        <br>
        <div class="a">
        <label id="fromCurrencyName"></label>
        <p>Currency</p> 
        <div id="select-field"></div>
        <select name="fromCurrency" id="fromCurrency" onchange="showFromCurrencyName()">
        <option value="USD" selected="">USD - US Dollar</option>
        <option value="EUR">EUR - Euro</option>
        <option value="GBP">GBP - British Pound</option>
        <option value="CAD">CAD - Canadian Dollar</option>
        <option value="AUD">AUD - Australian Dollar</option>
        <option value="JPY">JPY - Japanese Yen</option>
        <option value="INR">INR - India Rupee</option>
        <option value="NZD">NZD - New Zealand Dollar</option>
        <option value="CHF">CHF - Swiss Franc</option>
        <option value="ZAR">ZAR - South African Rand</option>
        <option value="BGN">BGN - Bulgarian Lev</option>
        <option value="SGD">SGD - Singapore Dollar</option>
        <option value="HKD">HKD - Hong Kong Dollar</option>
        <option value="SEK">SEK - Swedish Krona</option>
        <option value="THB">THB - Thai Baht</option>
        <option value="HUF">HUF - Hungarian Forint</option>
        <option value="CNY">CNY - Chinese Yuan Renminbi</option>
        <option value="NOK">NOK - Norwegian Krone</option>
        <option value="MXN">MXN - Mexican Peso</option>
        <option value="GHS">GHS - Ghanians Cedi</option>
        <option value="NGN">NGN - Nigerian Naira</option></select>
        <p >Bitcoin</p>  
        <select name="toCurrency" id="toCurrency" onchange="showCurrencyName()">
        <option value="BTC">Bitcoin (BTC)</option>
                    <option value="ETH">Ethereum (ETH)</option>
                    <option value="USDT">Tether (USDT)</option>
                    <option value="BNB">Binance Coin (BNB)</option>
                    <option value="USDC">USD Coin (USDC)</option>
                    <option value="XRP">XRP (XRP)</option>
                    <option value="BUSD">Binance USD (BUSD)</option>
                    <option value="ADA">cardano (ADA)</option>
                    <option value="DOGE">Dogecoin (DOGE)</option>
                    <option value="MATIC">Polygon (MATIC)</option>
                    <option value="SOL">Solana (SOL)</option>
                    <option value="DOT">Polkadot (DOT)</option>
                    <option value="SHIB">Shiba Inu (SHIB)</option>
                    <option value="LTC">Litecoin (LTC)</option>
                    <option value="TRX">Tron (TRX)</option>
                    <option value="AVAX">Avalanche (AVAX)</option>
        </select>
        <p class="s">Amount</p>  
        <input type="text" name="amount" id="amount">
        <p> Result</p>
        <p id="result"></p>
       
        <button type="button" class="button" id="convert">convert</button>
        
    </div>
</form>

    </div>
   
    </div>
    <script>
        function showCurrencyName() {
              var selectCurrency = document.getElementById("toCurrency");
              var currencyName = selectCurrency.options[selectCurrency.selectedIndex].text;
              document.getElementById("currencyName").innerHTML = currencyName;
            }
      
            function showFromCurrencyName() {
              var selectFromCurrency = document.getElementById("fromCurrency");
              var fromCurrencyName = selectFromCurrency.options[selectFromCurrency.selectedIndex].text;
              document.getElementById("fromCurrencyName").innerHTML = fromCurrencyName;
            }
    
                const amountInput = document.querySelector('#amount');
                const fromCurrencySelect = document.querySelector('#fromCurrency');
                const toCurrencySelect = document.querySelector('#toCurrency');
                const convertButton = document.querySelector('#convert');
                const resultParagraph = document.querySelector('#result');
                
                convertButton.addEventListener('click', () => {
                const amount = amountInput.value;
                const fromCurrency = fromCurrencySelect.value;
                const toCurrency = toCurrencySelect.value;
                const apiKey = "ea721f20f3c064e05db9cfbf7874b7dbcba5b33a57610b773b6dd8afeb875261";
                const apiUrl = `https://min-api.cryptocompare.com/data/price?fsym=${toCurrency}&tsyms=${fromCurrency}&api_key=${apiKey}`;
              
                fetch(apiUrl)
                  .then(response => response.json())
                  .then(data => {
                    const rate = data[fromCurrency];
                    const result = amount / rate;
              
                    resultParagraph.innerHTML = `${amount} ${fromCurrency} is equal to ${result.toFixed(8)} ${toCurrency}`;
                  })
                  .catch(error => {
                    resultParagraph.innerHTML = "Error: Unable to fetch exchange rate.";
                    console.error(error);
                  });
              });
       </script>
</html>